[user]
	email = dev@d3strukt0r.dev
	name = D3strukt0r
	signingKey = C9E5AB85364CA764!
[gpg]
	program = /usr/local/bin/gpg
	format = openpgp
[commit]
	gpgSign = true
	template = /Users/robine/.gitmessage
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = master
[core]
	excludesfile = ~/.gitignore_global
