[user]
	email = dev@d3strukt0r.me
	name = D3strukt0r
	signingKey = C9E5AB85364CA764!
[core]
	longpaths = true
[tag]
	forceSignAnnotated = true
[commit]
	gpgSign = true
[init]
	defaultBranch = master
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
