<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--
      FurMark: https://www.geeks3d.com/furmark/
      TC Helicon GoXLR:
        https://www.tc-helicon.com/product.html?modelCode=P0DI7
        https://mediadl.musictribe.com/download/software/tchelicon/GoXLR/GoXLR-App-1.3.3.130.zip
        https://mediadl.musictribe.com/media/PLM/sftp/incoming/hybris/import/goxlr/download/GoXLR_Driver_v5.12.0_2021-06-28.zip
      Vive WLAN Adapter: https://www.vive.com/de/setup/wireless/

      Drivers:
      Xencelabs: https://www.xencelabs.com/eu/support/download-drivers
      ASUS PCE-AXE58BT:
        https://www.asus.com/Networking-IoT-Servers/Adapters/All-series/PCE-AXE58BT/HelpDesk_Download/
        https://www.intel.com/content/www/us/en/products/sku/204836/intel-wifi-6e-ax210-gig/downloads.html
      -->
  <package id="intel-xtu" />
  <package id="volume2" />
  <package id="volume2.install" />
</packages>
