[user]
	email = dev@d3strukt0r.me
	name = D3strukt0r
	signingKey = C9E5AB85364CA764!
[gpg]
	program = /usr/local/bin/gpg
	format = openpgp
[commit]
	gpgSign = true
	template = /Users/manuele/.gitmessage
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = master
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
