[user]
	email = dev@d3strukt0r.me
	name = D3strukt0r
	signingKey = C9E5AB85364CA764!
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgSign = true
	template = /Users/manuele/.stCommitMsg
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = master
[gui]
	recentrepo = /Users/manuele/Projects-IWF/craftbp
[core]
	excludesfile = /Users/manuele/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
